html {
    height: 100%
}

body {
    background: url('/media/sport.jpg') no-repeat center fixed;
    background-size: cover;
    height: calc(100vh-164px);
    color: darkgray;

}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}


.main-logo-link {
    width: fit-content;
}

.shop-button {
background: rgb(252, 98, 81);
color: white;
min-width: 260px;
}

.btn-color {
    background: rgb(252, 98, 81);
    color: white;
}


.shop-button:hover,
.shop-button:active,
.shop-button:focus,
.btn-color:hover,
.btn-color:active,
.btn-color:focus {
    background: salmon;
    color: white;
}

.banner {
    background: rgb(252, 98, 81);
    color: white;
}
}


.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.productsbackground {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.cropimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:  300px;
    height: 300px;
    object-fit: scale-down;
}




/* --- Media Queries --- */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}


@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }

.header-container {
    padding-top: 164px;
}

}


.display-3 {
    margin-top: 100px;
}