html {
    height: 100%
}

body {
    background: url('/media/sport.jpg') no-repeat center fixed;
    background-size: cover;
    height: calc(100vh-164px);
    color: darkgray;

}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}


.main-logo-link {
    width: fit-content;
}

.shop-button {
background: rgb(252, 98, 81);
color: white;
min-width: 260px;
}

.btn-color {
    background: #fc6251;
    color: white;
}

a {
  text-decoration: none;
}

.logo {
 display: flex;
	background: linear-gradient(
		-45deg, 
        grey 25%,
        grey 25%,
		grey 25%, 
		#ff7465 25%, 
	    #ff7465 50%, 
		grey 50%, 
		grey 75%, 
		#ff7465 75%, 
		#ff7465);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.remove-item {
    cursor: pointer;
    background: rgb(252, 98, 81);
    color: white;
    min-width: 40px;
    text-decoration: none;
}


.shop-button:hover,
.shop-button:active,
.shop-button:focus,
.btn-color:hover,
.btn-color:active,
.btn-color:focus {
    background: salmon;
    color: white;
}

.banner {
    background: rgb(252, 98, 81);
    color: white;
}
}


.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.productsbackground {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.cropimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:  300px;
    height: 300px;
    object-fit: scale-down;
}



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: rgb(252, 98, 81);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: salmon;
}

/* Add a background color and some padding around the form */
.contactcontainer {
  border-radius: 5px;
  background-color: salmon;
  padding: 20px;
}

.carousel, img {

max-height: 800px;
max-width: 600px;
margin: auto;

}

.carouselspace {
    margin-top: 40px;

}

/* --- Media Queries --- */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}


@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }

.header-container {
    padding-top: 164px;
}

}


.display-3 {
    margin-top: 100px;
}
