{% extends "base.html" %}
{% load static %}
​
{% block pageheader %}
​
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
​
{% endblock %}
​
{% block content %}
<div class="productsbackground"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo mb-4">About</h2>
            <hr>
        </div>
    </div>

  

​
{% endblock %}
​
​
{% block postloadjs %}
{% endblock %}